.bed-main {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.bed-cont {
  max-width: 100%; 
  box-sizing: border-box;
  height: auto;
  justify-content: center;
}  
.bed-cont2 {
  display: flex;
  justify-content: center;
  padding-left: 40px;
  padding-right: 50px;
  max-width: 100%;
  background-image: linear-gradient(to bottom,
  rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0.1), 
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.3)
  );
}

.bed-name {
  color: white;
  font-size: 9rem; /* fixed */
  font-style: italic;
  text-align: center; 
  padding: 20px;
  padding-top: 100px; /* fixed */
  margin-bottom: 60px; /* fixed */
  background-image: linear-gradient(to bottom, 
rgba(212, 214, 76, 0.25), 
rgba(212, 214, 76, 0.15), 
rgba(212, 214, 76, 0.08),
rgba(212, 214, 76, 0));
}
.bed-name p{
  text-shadow: 
  2px 2px 2px black, 
  0 0 10px rgba(212, 214, 76, 0.5), 
  0 0 2px rgba(212, 214, 76, 0.5);
  animation: wave 10s linear infinite;
  font-family: Georgia, serif;
}

@keyframes wave {
0%{
opacity: 0;
transform: translateY(-20px);
}
20% {
opacity: 1;
}
80% {
opacity: 1;
}
100% {
opacity: 0;
transform: translateY(20px);
}
}

.bed-gal {
margin-bottom: 20px; 
}

.bed-gal img {
max-width: 100%; 
height: auto; 
}
.bed-col{
width: 100%;
height: 100%;
}

.bed-cont-mygal {
display: flex;
justify-content: center;
padding: 20px;
padding-left: 10px;
max-width: 100%;
margin-bottom: 20px;
}



/* สำหรับหน้า Ipad */
@media screen and (max-width: 800px) {
body {
 overflow: hidden; /* ปิดการเลื่อนหน้าจอในทิศทางทั้งแนวนอนและแนวตั้ง */
}

body {
transition: all 0.3s ease;
}

.bed-name {
color: white;
text-align: center; 
padding: 10px;
padding-top: 105px;
margin-bottom: 45px;
background-image: linear-gradient(to bottom, 
rgba(212, 214, 76, 0.25), 
rgba(212, 214, 76, 0.15), 
rgba(212, 214, 76, 0.08),
rgba(212, 214, 76, 0));

}
.bed-name p{
text-shadow: 
2px 2px 2px black, 
0 0 10px rgba(212, 214, 76, 0.5), 
0 0 2px rgba(212, 214, 76, 0.5);
animation: wave 10s linear infinite;
font-family: Georgia, serif;
font-style: italic;
font-size: 6rem;
}
}


/* สำหรับหน้า SmartPhone */
@media screen and (max-width: 595px) {
body {
 overflow: hidden; /* ปิดการเลื่อนหน้าจอในทิศทางทั้งแนวนอนและแนวตั้ง */
}

.bed-cont2 {
display: flex;
justify-content: center;
padding-left: 40px; /* fixed */
padding-right: 50px; /* fixed */
max-width: 100%;
background-image: linear-gradient(to bottom,
rgba(0, 0, 0, 0),
rgba(0, 0, 0, 0.1), 
rgba(0, 0, 0, 0.2),
rgba(0, 0, 0, 0.3)
);
}


body {
transition: all 0.3s ease;
}

.bed-name {
color: white;
text-align: center; 
padding: 10px;
padding-top: 105px;
margin-bottom: 65px;
background-image: linear-gradient(to bottom, 
rgba(212, 214, 76, 0.25), 
rgba(212, 214, 76, 0.15), 
rgba(212, 214, 76, 0.08),
rgba(212, 214, 76, 0));

}
.bed-name p{
text-shadow: 
2px 2px 2px black, 
0 0 10px rgba(212, 214, 76, 0.5), 
0 0 2px rgba(212, 214, 76, 0.5);
animation: wave 10s linear infinite;
font-family: Georgia, serif;
font-style: italic;
font-size: 4rem;
}

}