.image-list-item {
    cursor: pointer;
    padding:0px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.image-list-item img {
    border-radius: 17px;
    object-fit: cover;

}

.image-list-item:hover {
    transform: scale(0.98);
    transition: 0.2s ease-in-out;
}
