.main-login-register {
    display: flex;
    background-color: rgba(0, 0, 0, 0.527);
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 4rem;
    box-shadow: 0 0 10px 5px rgb(22, 21, 21);
}